

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
/*propiedades del html*/
html {
    font-size: 100%;
    width: 100%;

}
/*propiedades de todos los index*/
body {
    width: 100%;

}
.body_index{
    background-color: $alternative2;

}
.body_analogico{
    background-color: $alternative2;
}
.body_museo{
    background-color: $alternative2;

}
.body_portfolio{
    background-color: $alternative2;
}
.body_contacto{
    background-color: $alternative2;

}

/*propiedades del nav*/
.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul {
    list-style-type: none;


}

a {
    text-decoration: none;
    font-family: $font-title-;
    color: $secundarycolor;
}

.titulo {
    text-decoration: none;
    color: white;
}

.titulo_p {
    text-decoration: none;

}

.blanco {
    background-color: rgb(152, 198, 183);
    align-items: center;
    margin: 1rem;
}
/*iconos del footer*/
.imgig {
    width: 20px;
}

.imgfl {
    width: 20px;
}

.fotomuseo {
    width: 100%;
}
/*fotos del html Proyecto Museo*/
.galeriademuseo {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;

    
}

img {
    width: 100%
}
/*propiedades de fotos y tarjetas del index Portfolio*/
.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 50px;
    padding: 90px;
}
/*propiedades del carrusel del index Trabajos Analógicos*/
.carousel {
    margin: 50px;
    padding: 50px;
 



}
/*propiedades del Footer*/
.footer {
    margin: 10px;
    background-color: aquamarine;
    align-content: center;
    text-align: center;
    font-weight: 600;
}

/*responsive*/
@media (max-width: 440px) {
    .navigation {
        flex-direction: column;
    }
}

@media (min-width: 440px) {
    body {
        width: 100%;

    }
}