/* colores*/
$primarycolor: rgb(19, 19, 19);
$secundarycolor:rgb(251, 247, 247);
$alternative:#708181;
$alternative2: burlywood;

$text-color: #010101;

/* spacings*/
$spacing-large:6rem;
$spacing-medium:2.4rem;
$spacing-small:2rem;
$spacing-xsmall:1rem;


/*font family*/

$font-principal: 'Barlow', san-serif;
$font-title-:'Roboto Slab', serif;

/* font-size*/
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Roboto:wght@100&display=swap');

